.shop-container {
	display: grid;
	grid-template-columns: 4fr 350px;
}

.cart-container {
	background: rgba(255, 153, 0, 0.3);
    padding: 30px;
}

.cart-container nav ul {
	list-style: none;
	color: black;
	line-height: 45px;
	margin-top: 20px;
	font-size: 23px;
    padding: 0;
}